@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer utilities {
  .checkmark {
    clip-path: polygon(20.00% 35.00%,5.00% 50.00%,40.00% 85.00%,100.00% 25.00%,85.00% 10.00%,40.00% 55.00%);
  }
  .xmark {
    clip-path: polygon(20.00% 5.00%,5.00% 20.00%,35.00% 50.00%,5.00% 80.00%,20.00% 95.00%,50.00% 65.00%,80.00% 95.00%,95.00% 80.00%,65.00% 50.00%,95.00% 20.00%,80.00% 5.00%,50.00% 35.00%);
  }
  .arrow-left {
    clip-path: polygon(90.00% 0.00%,65.00% 50.00%,90.00% 100.00%,40.00% 100.00%,15.00% 50.00%,40.00% 0.00%);
  }
  .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
}

.notDone + .done {
  margin-top: 1rem;
  border-top: 1px solid #475569;
  padding-top: 1.25rem;
}